.profile-section,
.obtain-section {
    max-width: 87.5rem;
    margin: auto;
    margin-block: 10rem;
}

.cards-section {
    background-position: center;
}

.standard-features-title {
    max-width: 42.188rem;
    line-height: 4.8rem;

}

@media (min-width: 1200px) {
    .standard-features-title {
        margin-top: 6rem;
    }
}

@media (max-width: 991.98px) {
    .standard-features-title {
        margin-bottom: 0 !important;
    }
}

.profile-card {
    padding: 1.875rem 1.25rem;
}

.profile-card p {
    line-height: 1.1rem;
}


.obtain-title {
    max-width: 50rem;
    margin-bottom: 4rem !important;
}

.profile-title {
    margin-bottom: 5rem;
}

.obtain-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.625rem;
}

@media (max-width: 991.98px) {
    .obtain-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .obtain-form {
        grid-template-columns: repeat(1, 1fr);
    }
}

.profile-card-content h5 {
    font-size: 1.8rem !important;
}

.profile-card-content .only-3-lines {
    height: calc(3* 1.1rem + 0.125rem);
}