.filter-item.active,
.filter-item.active p {
    color: var(--blue-color) !important;
    font-weight: 600;
}

.filter-item p {
    font-weight: 300;
    font-size: 1.3rem;
}

.filter-item.active img {
    filter: var(--filter-blue);
}

.filter-item {
    color: var(--white-color);
}

.filter-item:hover {
    color: var(--blue-color);
}

.filter-item:hover img {
    filter: var(--filter-blue);
}

.credit-box-content i {
    color: var(--success-color);
}

.credit-box-feat {
    flex: 1;
}

.credit-box-feat p {
    font-weight: 500;
    font-size: 1.1rem;
}

.credit-box-content-desc-span,
.credit-box-feat span {
    font-size: .9rem;
}

.credit-box-content-desc-span {
    line-height: 1rem !important;
    display: block;
}

.credit-box-btns {
    /* width: 90%; */
}


/*  */
.person-card h6 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
}

.person-card span,
.person-card a {
    max-width: 380px;
    display: block;
    font-weight: 300;
}

.person-card a {
    font-size: 1rem;
}

/*  */
.article-section {
    padding-bottom: 18rem !important;
}

/*  */
.choose-section {
    padding-block: 10rem 6rem;
}

.choose-section-container {
    max-width: 1270px;
}

.choose-link {
    font-size: 1rem;
    text-decoration: underline;
}