.compare-card-title {
    max-width: 575px;
    background: linear-gradient(145.59deg, #CC3BFF -28.52%, #3B66FF 130.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-block: 11rem 9rem;
}

.compare-card-container {
    max-width: 1244px;
    margin: 0 auto;
    padding-block: 6rem 12rem;
}

.cash-advance {
    max-width: 82px;
}