label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-25);
}

label span {
    color: var(--pink-color);
    font-size: unset;
    font-weight: unset;
}

input,
select {
    padding-block: 12px !important;
}

input[type="radio"],
input[type="checkbox"] {
    padding-block: 0 !important;
}

.form-control {
    width: 100%;
    border: 1px solid #505050;
    font-weight: 400;
    font-size: 1rem;
    color: #505050;
    background-color: var(--bg-body);
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    padding: 1rem 1.5rem;
}

.form-control:focus {
    border: none;
    box-shadow: unset;
}

.form-control::placeholder {
    color: var(--gray-color) !important;
}

.form-select {
    width: 100%;
    border: 1px solid #505050;
    font-weight: 400;
    font-size: 1rem;
    color: #505050;
    background-color: var(--bg-body);
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}


.form-select:focus {
    border: 1px solid #505050;
    box-shadow: unset;
}

.arabic-version .form-select {
    background-position: left .75rem center;
    padding: .375rem .75rem .375rem 2.25rem;
}

.form-textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    outline: 2px solid rgb(87 87 86 / 15%);
    border-radius: var(--radius-circle);
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
}

.form-textarea::placeholder {
    color: rgb(87 87 86 / 50%) !important;
}

.form-textarea:focus {
    border: none;
    box-shadow: unset;
    outline: 2px solid var(--primary-color);
}

.form-check-input {
    width: 16px;
    height: 16px;
    border: 1px solid #757575 !important;
    background-color: transparent;
}

.form-check-input:focus {
    box-shadow: unset;
}

.form-check-input:checked {
    background-color: var(--blue-color) !important;
    border: 1px solid #757575 !important;
}

.checkbox-btns-container,
.radio-btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem
}

.arabic-version .radio-btns-container,
.arabic-version .checkbox-btns-container {
    direction: rtl;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form-check span {
    padding-top: 0.3rem;
}

.arabic-version .form-check {
    gap: 0;
}

.arabic-version .form-check-input {
    margin: 0;
    float: none;
    margin-inline-end: 0.5em;
}


/* Filters Section */
.filters-section {
    margin-bottom: 1.9rem;
}

.filters-section .filter-select-input {
    padding-inline: 1.25rem !important;
    padding-block: 13px !important;
    font-size: 0.95rem;
    font-weight: 600;
    outline: 1px solid rgba(87 87 86 / 25%);
    color: var(--gray-color);
    background-image: url('../assets/icons/Arrow_drop_left.svg');
    background-position: left 0.65rem center;
    background-size: 1.5rem;
}

.filters-section .filter-select-input:focus {
    box-shadow: none;
    border: none;
    outline-color: rgba(89 92 163 / 70%);
}

.filters-section .search-wrapper {
    position: relative;
}

.filters-section .search-input {
    padding-inline-start: 2.2rem;
    padding-inline-end: 1rem;
    padding-block: 13px !important;
    outline-width: 1px !important;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color) !important;
    background-color: var(--white-color) !important;
    min-width: 265px;
}

.filters-section .search-input::placeholder {
    color: rgb(87 87 86 / 50%) !important;
}

.filters-section .search-icon {
    position: absolute;
    inset-inline-start: 0.85rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 0.9rem;
}

.nice-select:after {
    display: none;
}

.nice-select .option {
    text-align: start;
}