.card-slide-content {
    margin-bottom: 6rem !important;
}

.card-slider-section .solid-btn {
    align-items: center;
    justify-content: center;

    border: 0.125rem solid transparent;
    border-radius: 62.438rem;

    background:
        linear-gradient(#181818, #181818) padding-box,
        linear-gradient(145.59deg, #3B66FF -28.52%, #3BFFCB 130.27%) border-box;

    font-weight: 600;
    font-size: 1.3rem;
    padding: 0.875rem 0.625rem;
    margin-bottom: 4rem !important;
}

.card-slider-section .solid-btn span {
    background-image: linear-gradient(145.59deg,
            #3B66FF -28.52%,
            #3BFFCB 130.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.1rem;
    font-weight: 500;
}

.content-link-header h4 {
    max-width: 14.062rem;
    font-size: 2.5rem;
    line-height: 3rem;
}

.content-link-overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #18181899;
    z-index: 9999;
    backdrop-filter: blur(0.0625rem);
}

.champions-section {
    margin-top: 0 !important;
}

.standard-features-title {
    max-width: 500px;
}

.champion-box-content h6 {
    font-size: 1.3rem;
}

.close-btn {
    width: 40px;
    height: 40px;
}

@media (max-width: 1599.98px) {
    .close-btn img {
        width: 16px;
    }
}