.video-title {
    max-width: 48.438rem;
    margin: auto;
}
.video-iframe  {
    max-width: 51rem;
    height: 31.812rem;
    margin: auto;
    
}
.video-iframe iframe {
    width: 100%;
    height: 100%;
}