.personalized-banking::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(18.42deg, #444CE7 28.21%, #8098F9 102.72%);
    opacity: .6;
}

.personalized-title {
    max-width: 9px;
    margin-bottom: 4rem;
}

.personalized-section-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--container-width);
}

.personalized-section-container .nav-item-personalized p,
.content-link-body p {
    font-size: 1.1rem;
}

.personalized-section-container .nav-item-personalized i {
    font-size: 18px;
}

.personalized-section-container .nav-item-personalized.active,
.personalized-section-container .nav-item-personalized:hover {
    color: var(--success-color) !important;

}

.personalized-section-container .nav-item-personalized.active p {
    font-weight: 600;
}



.apply-card h6 {
    font-size: 1.2rem;
    font-weight: 500 !important;
}

.apply-card a {
    font-size: .9rem;
}
.apply-card:hover {
    background-color: #5d5d5d;
}