.hero-section .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--container-width);
    max-width: 100%;
}

.hero-section .hero-content h1 {
    max-width: 960px;
}

.primary-btn,
.solid-btn {
    padding: 9px 10px;
    font-size: .9rem;
    font-weight: 500;
}

.ai-support-banner {
    max-width: 900px;
    margin-bottom: 8rem !important;
}

.cards-section {
    background-image: url("/assets/images/personal/bg-cards-section.png");
    background-size: cover;
    background-position: 50% 0%;
    padding-block: 10rem 8rem;
}

.cards-section h3 {
    font-size: 3.8rem;
}

.standard-features-section {
    padding-block: 16px;
    padding-inline-end: 16px;
}

@media (max-width: 991.98px) {
    .standard-features-section {
        padding-inline-start: 16px;
    }
}

@media (min-width: 576px) {
    .standard-features-container {
        padding-inline-start: calc((100vw - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .standard-features-container {
        padding-inline-start: calc((100vw - 720px) / 2);
    }
}

@media (min-width: 992px) {
    .standard-features-container {
        padding-inline-start: calc((100vw - 960px) / 2);
    }
}

@media (min-width: 1200px) {
    .standard-features-container {
        padding-inline-start: calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .standard-features-container {
        padding-inline-start: calc((100vw - 1320px) / 2);
    }
}

.standard-features-image {
    max-width: 650px;
    margin-inline-end: auto;
}

@media (max-width: 991.98px) {
    .standard-features-image {
        max-width: 100%;
        margin-top: 2rem;
    }
}

.standard-features-container ul span {
    font-weight: 300;
}

.credit-box-content-desc {
    max-width: 280px;
    display: block;
}

.credit-box-btns {
    max-width: 280px;
}

/* Card Slider */
.card-slider-section {
    margin-top: 13rem;
}

.card-slider {
    max-width: 850px;
}

.icon-cashback {
    margin-block: 6rem 4rem !important;
}

.card-slide-content {
    margin-bottom: 10rem;
}

.ai-support-text h5 {
    font-size: 1.8rem;
    font-weight: 500 !important;
}

.ai-support-sub {
    font-size: 1.1rem !important;
}

.online-btn p {
    font-weight: 500 !important;
}

.ai-btn:hover {
    background-color: #5d5d5d;
}

.champions-section {
    background-image: url('/assets/images/personal/champion-wallpaper.png');
    background-size: cover;
    background-position: center;
    padding-block: 4rem 8rem;
    background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
    .champions-section {
        background-size: cover;
    }
}

.champion-boxes-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

@media (max-width: 1439.98px) {
    .champion-boxes-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1199.98px) {
    .champion-boxes-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991.98px) {
    .champion-boxes-container {
        grid-template-columns: 1fr;
    }
}

.champion-box-content {
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(6* var(--line-height) + 2px);
}

.champion-title {
    margin-block: 6rem;
}

.champion-title h4 {
    line-height: 2.6rem;
}

.form-check-input {
    margin: 0 !important;
}

/*  */
.person-card h6 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
}

.person-card span,
.person-card a {
    max-width: 380px;
    display: block;
    font-weight: 300;
}

.person-card a {
    font-size: 1rem;
}

.ai-btn p {
    font-weight: 500;
}

.icon-cashback h6,
.card-slide-content h6 {
    font-size: 1.3rem;
    font-weight: 300;
}