.personalized-banking {
    height: 100dvh;
}

.personalized-banking .bg-section {
    position: absolute;
    z-index: -1;
    height: 100dvh;
    width: 100%;
}

.personalized-banking .default-image-class {
    height: 100%;
    object-fit: cover;
}

.personalized-title {
    max-width: 32rem;
    margin-bottom: 4rem;
    padding-top: 7rem;
}

.personalized-title h1 {
    font-size: 6.1rem;
    line-height: 5.8rem !important;
}

/* .personalized-section-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--container-width);
} */

.personalized-section-container .nav-item-personalized p,
.content-link-body p {
    font-size: 1.1rem;
}

.personalized-section-container .nav-item-personalized i {
    font-size: 1.125rem;
    transform: translateY(2px);
}

.personalized-section-container .nav-item-personalized.active,
.personalized-section-container .nav-item-personalized:hover {
    color: var(--success-color) !important;

}

.personalized-section-container .nav-item-personalized.active p,
.personalized-section-container .nav-item-personalized:hover p {
    font-weight: 600;
}


.apply-card {
    min-height: 85px;
}

.apply-card h6 {
    font-size: 1.2rem;
    font-weight: 500 !important;
}

.apply-card a {
    font-size: .9rem;
}

.apply-card:hover {
    background-color: #5d5d5d;
}

.nice-select,
.nice-select:active,
.nice-select.open,
.nice-select:focus {
    background-color: transparent;
    border: 0;
}

.nice-select .current {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-25);
}

.nice-select .list {
    top: 144%;
    left: -14% !important;
    width: 119%;
}

.content-link {
    display: block !important;
}

ul ul li {
    list-style: disc;
}

ul ul li p {
    line-height: 1.2;
    margin: 0;
}