@media (min-width: 1200px) and (max-width: 1599.98px) {
    .hero-section .hero-content h1 {
        font-size: 6.3rem;
    }

    .online-btn {
        padding: 0.4375rem 1.3rem;
    }

    .nav-logo-img {
        height: 2.1rem;
    }

    .online-btn p {
        font-size: .9rem !important;
        font-weight: 300 !important;
    }

    .compare-container p {
        font-size: .9rem;
    }

    .form-check-input {
        width: 0.75rem;
        height: 0.75rem;
    }

    .compare-container {
        gap: 0.4375rem !important;
    }

    .person-card span,
    .person-card a {
        max-width: 17.438rem;
    }

    .article-card p {
        font-size: 1.1rem !important;
        color: var(--gray-50) !important;
    }

    .swiper-button {
        height: 2.5rem;
        width: 2.5rem;
    }

    .card-slider {
        max-width: 40.625rem;
    }

    .card-slide-content {
        max-width: 36.875rem !important;
        margin: auto;
    }

    .champions-section {
        background-size: contain;
    }

    .champion-box-title h6,
    .champion-box-content h6 {
        font-size: 1.3rem;
    }

    .champion-box-content h6 {
        font-weight: 300;
    }

    .champion-box-title img {
        width: 1.5625rem;
    }

    .standard-features-container .size-30 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }

    .primary-btn,
    .solid-btn {
        padding: 0.4625rem 0.525rem;
    }

    .ai-support-banner .ai-btn {
        padding: 1rem 1.5rem !important;
    }

    .ai-btn::before {
        padding: 1px !important;
    }

    .ai-support-banner .ai-btn p {
        font-size: 1.1rem;
    }

    .ai-support-content img {
        width: 60px;
    }

    .ai-support-content {
        gap: 20px !important;
    }

    .compare-card-title {
        font-size: 6.5rem;
        line-height: 6.5rem;
    }

    .nav-search-btn {
        width: 17px;
    }
}