@media (min-width: 1200px) and (max-width: 1599.98px) {
    .online-btn {
        padding: 7px 16px;
    }
    .nav-logo-img {
        height: 28px;
    }
    .online-btn p {
        font-size: .9rem !important;
        font-weight: 300;
    }
    .compare-container p {
        font-size: .9rem;
    }
    .form-check-input {
        width: 12px;
        height: 12px;
    }
    .compare-container {
        gap: 10px !important;
    }
}