@media (min-width: 1200px) and (max-width: 1599.98px) {
    .online-btn {
        padding: 7px 16px;
    }

    .nav-logo-img {
        height: 28px;
    }

    .online-btn p {
        font-size: .9rem !important;
        font-weight: 300 !important;
    }

    .compare-container p {
        font-size: .9rem;
    }

    .form-check-input {
        width: 12px;
        height: 12px;
    }

    .compare-container {
        gap: 7px !important;
    }

    .person-card span,
    .person-card a {
        max-width: 279px;
    }

    .article-card p {
        font-size: 1.1rem !important;
        color: var(--gray-50) !important;
    }

    .swiper-button {
        height: 40px;
        width: 40px;
    }

    .card-slider {
        max-width: 650px;
    }

    .card-slide-content {
        max-width: 590px !important;
        margin: auto;
    }

    .champions-section {
        background-size: contain;
    }

    .champion-box-title h6 {
        font-size: 1.3rem;
    }

    .champion-box-content h6 {
        font-weight: 300;
    }

    .champion-box-title img {
        width: 25px;
    }

    .standard-features-container .size-30 {
        font-size: 1.7rem !important;
    }
}