:root {
    --black-color: #181818;
    --bg-body: #181818;
    --gray-color: #222222;
    --gray-25: #f3f3f3;
    --gray-50: #dcdcdc;
    --gray-color-600: #2d2d2d;
    --gray-color-800: #1f1f1f;
    --white-color: #FFFFFF;
    --blue-color: #1570EF;
    --success-color: #12B76A;
    --font-family: 'Outfit';
    --line-height: 1.6rem;
    --card-line-height: 1.25rem;
    --title-line-height: 2.3rem;
    --main-border: 0.0625rem solid #57575640;
    --radius-full: 62.438rem;
    --filter-white: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(0%) hue-rotate(89deg) brightness(103%) contrast(107%);
    --filter-blue: brightness(0) saturate(100%) invert(39%) sepia(90%) saturate(749%) hue-rotate(169deg) brightness(92%) contrast(91%);
}

/* Font Family */
@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-Black.eot');
    src: url('../assets/font/Outfit/Outfit-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-Black.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-Black.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-Black.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-Black.svg#Outfit-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-Bold.eot');
    src: url('../assets/font/Outfit/Outfit-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-Bold.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-Bold.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-Bold.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-Bold.svg#Outfit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-ExtraBold.eot');
    src: url('../assets/font/Outfit/Outfit-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-ExtraBold.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-ExtraBold.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-ExtraBold.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-ExtraBold.svg#Outfit-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-ExtraLight.eot');
    src: url('../assets/font/Outfit/Outfit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-ExtraLight.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-ExtraLight.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-ExtraLight.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-ExtraLight.svg#Outfit-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-Light.eot');
    src: url('../assets/font/Outfit/Outfit-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-Light.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-Light.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-Light.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-Light.svg#Outfit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-Medium.eot');
    src: url('../assets/font/Outfit/Outfit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-Medium.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-Medium.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-Medium.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-Medium.svg#Outfit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-Regular.eot');
    src: url('../assets/font/Outfit/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-Regular.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-Regular.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-Regular.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-Regular.svg#Outfit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-SemiBold.eot');
    src: url('../assets/font/Outfit/Outfit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-SemiBold.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-SemiBold.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-SemiBold.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-SemiBold.svg#Outfit-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit/Outfit-Thin.eot');
    src: url('../assets/font/Outfit/Outfit-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Outfit/Outfit-Thin.woff2') format('woff2'),
        url('../assets/font/Outfit/Outfit-Thin.woff') format('woff'),
        url('../assets/font/Outfit/Outfit-Thin.ttf') format('truetype'),
        url('../assets/font/Outfit/Outfit-Thin.svg#Outfit-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--gray-25);
    background-color: var(--bg-body);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html,
body,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    font-feature-settings: "liga" 1, "kern" 0;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin: 0.3125rem 0; */
}

th,
td {
    color: var(--primary-color) !important;
}

ul li {
    list-style: none;
}

ul li::marker {
    color: var(--primary-color);
}

.arabic-version {
    direction: rtl;
    font-family: 'Tajawal', sans-serif !important;
}

@media (min-width: 2030px) {
    :root {
        --container-width: 80vw;
    }

    html {
        font-size: 1.125rem;
    }
}

@media (min-width: 1600px) and (max-width: 2030px) {
    :root {
        --container-width: 80vw;
    }

    html {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) and (max-width: 1599.98px) {
    :root {
        --container-width: 80.5rem;
    }

    html {
        font-size: 0.8125rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    :root {
        --container-width: 85.7rem;
    }

    html {
        font-size: 0.8125rem;
    }
}

@media (max-width:1199.98px) {
    :root {
        --container-width: 62rem;
    }

    html {
        font-size: 0.9375rem;
    }
}

@media (max-width:991.98px) {
    :root {
        --container-width: 45rem;
    }

    html {
        font-size: 0.9375rem;
    }
}

@media (max-width:767.98px) {
    :root {
        --container-width: 33.75rem;
    }

}

@media (max-width:575.98px) {
    :root {
        --container-width: 95vw;
    }

    .container {
        padding-inline: 16px !important;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        max-width: 90%;
    }

    .container {
        max-width: 80%;
    }

    .container .container,
    .container-fluid .container {
        max-width: 100%;
    }
}

/* 
h1 {
    font-size: 6.875rem;
    ;
    font-weight: 500;
    line-height: 8.125rem;
}

h2 {
    font-size: 6.25rem;
    ;
    font-weight: 400;
    line-height: 8.125rem;
}

h3 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: var(--title-line-height);
}

.arabic-version h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.75rem;
    line-height: 4.0625rem;
    font-weight: 400;
}

.arabic-version h4 {
    font-size: 3.3rem;
    font-weight: 300;
}

h5 {
    font-size: 3rem;
    line-height: 3.4375rem;
    font-weight: 700;
}

.arabic-version h5 {
    font-size: 2.5rem;
    font-weight: 700;
}

h6 {
    font-size: 2.25rem;
    font-weight: 400;
}

.arabic-version h6 {
    font-size: 1.4rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    text-align: justify;
    font-weight: 400;
}

a {
    font-size: .75rem;
    font-weight: 400;
}

span,
.card-date {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.625rem;
}

th {
    font-size: .9rem;
}

a {
    text-decoration: none;
}

label {
    color: var(--primary-color);
    font-weight: 500;
}

ul {
    list-style: disc;
    padding-left: unset;
    padding-inline-start: 2rem;
}

.regular-font {
    font-weight: 400;
}

.medium-font {
    font-weight: 500;
}

.semi-bold-font {
    font-weight: 600;
}

.bold-font {
    font-weight: 700;
}

.regular-size {
    font-size: 1.875rem;
}

.lg-size {
    font-size: 1.25rem;
}

.md-size {
    font-size: 1.125rem;
}

.sm-size {
    font-size: 1rem;
}
@media (max-width: 767.98px) {
    h1 {
        font-size: 2.25rem;
        line-height: 2.375rem;
    }

    h2 {
        font-size: 1.875rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.875rem;
        line-height: 2rem;
    }

    h4 {
        font-size: 2rem;
        line-height: 1.875rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 1.5625rem;
    }

    h6 {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.25rem;
    }
    .regular-size {
        font-size: 1.25rem;
        line-height: 1.375rem;
    }
} */


h1 {
    font-size: 6rem;
    font-weight: 500;
    line-height: 5.8rem;
}

.arabic-version h1 {
    font-size: 5.1rem;
}

h2 {
    font-size: 4.7rem;
    font-weight: 400;
    line-height: 5.8rem;
}

.arabic-version h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: var(--title-line-height);
}

.arabic-version h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.7rem;
    line-height: 3.4rem;
    font-weight: 400;
}

.arabic-version h4 {
    font-size: 3.3rem;
    font-weight: 300;
}

h5 {
    font-size: 2rem;
    /* line-height: 3.4375rem; */
    font-weight: 700;
}

.arabic-version h5 {
    font-size: 2.1rem;
    font-weight: 700;
}

h6 {
    font-size: 1.6rem;
    font-weight: 400;
}

.arabic-version h6 {
    font-size: 1.4rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.arabic-version p {
    font-size: .9rem;
}

span {
    line-height: 1.2rem;
}

a {
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
}

.default-size {
    font-size: 1.2rem;
}

.arabic-version .default-size {
    font-size: 1.4rem;
}

.regular-font {
    font-weight: 400;
}

.medium-font {
    font-weight: 500;
}

.semi-bold-font {
    font-weight: 600;
}

.bold-font {
    font-weight: 700;
}

.size-19 {
    font-size: 1.2rem !important;
}

.size-22 {
    font-size: 1.4rem !important;
}

.size-30 {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
}

.mw-400 {
    max-width: 25rem;
}

@media (max-width: 991.98px) {
    h1 {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 3.3rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.3rem !important;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/* Webkit box  */
.only-1-lines {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1* var(--line-height) + 0.125rem);
}

.only-2-lines {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2* var(--line-height) + 0.125rem);
}

.title-only-2-lines {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2* var(--title-line-height) + 0.125rem);
}

.only-3-lines {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(3* var(--card-line-height) + 0.125rem);
}

.only-4-lines {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(4* var(--card-line-height) + 0.125rem);
}

.default-image-class {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cover-image-class {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.aspect-ratio-square {
    aspect-ratio: 1;
}

.gray-25 {
    color: #f3f3f3 !important;
}

.gray-50 {
    color: #dcdcdc !important;
}

.gray-100 {
    color: #757575 !important;
}

.gray-900 {
    color: var(--bg-body);
}

.success-color {
    color: var(--success-color) !important;
}

/* Default Classes */

.w-fit {
    width: fit-content !important;
}

.radius-5 {
    border-radius: 5px;
}

.radius-6 {
    border-radius: 6px !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.radius-15 {
    border-radius: 15px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-25 {
    border-radius: 25px;
}

.radius-30 {
    border-radius: 30px;
}

.radius-40 {
    border-radius: 40px;
}

.p-16 {
    padding: 1rem;
}

.p-20 {
    padding: 1.25rem;
}

.p-30 {
    padding: 1.875rem;
}

.p-40 {
    padding: 2.5rem !important;
}

.arabic-version .fa-arrow-right,
.arabic-version .fa-arrow-left {
    scale: -1;
}

.bg-black-color {
    background-color: var(--black-color);
}

.bg-gray-color {
    background-color: var(--gray-color) !important;
}

.bg-gray-color-25 {
    background-color: var(--gray-25);
}

.bg-gray-color-50 {
    background-color: var(--gray-50);
}

.bg-gray-color-600 {
    background-color: var(--gray-color-600);
}

.bg-gray-color-800 {
    background-color: var(--gray-color-800);
}

.bg-gray-color-900 {
    background-color: var(--bg-body);
}

/* Buttons */
.ai-btn {
    position: relative;
    background: transparent;
    border: none;
    z-index: 1;
    background-color: #1a1a1a;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.625rem 1.25rem;
    box-shadow: 0 0 2.5rem 0 #4DE1FF4D;
    border-radius: 0.875rem;
}

.ai-btn .ai-logo {
    width: 1.875rem;
    height: 1.875rem;
}

.ai-btn p {
    font-weight: 300;
}

.ai-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.125rem;
    border-radius: 0.875rem;
    background: linear-gradient(90deg, #155DFC 0%, #9810FA 50%, #1447E6 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.primary-btn,
.solid-btn {
    display: flex;
    background-color: var(--blue-color);
    color: var(--gray-25);
    padding: 0.875rem 1.375rem;
    border-radius: 3.125rem;
    font-weight: 400;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

    .primary-btn,
    .solid-btn {
        padding: 0.625rem 1rem;
    }
}

@media (max-width: 991.98px) {

    .primary-btn,
    .solid-btn {
        padding: 0.4375rem 1.375rem;
    }
}

.arabic-version .primary-btn {
    padding: 0.625rem 1.3125rem;
}

.primary-btn:hover {
    background-color: #5B9BF4;
}

.arabic-version .primary-btn {
    font-weight: 600;
}

.solid-btn {
    border: 0.0625rem solid var(--white-color);
    background-color: transparent;
}

.solid-btn:hover {
    background-color: #5d5d5d;
}

.aspect-btn {
    width: 2.375rem;
    height: 2.375rem;
}

.qr-hero p {
    max-width: 21.875rem !important;
}


.loan-offer-container p {
    max-width: 33.438rem !important;
}

.ai-support-banner {
    background-color: #1e1e1e;
    border-radius: 1.875rem;
    padding: 1.875rem;
    width: 100%;
    max-width: 37.5rem;
    overflow: hidden;
    margin-block: 7rem 6rem !important;
}

@media (min-width: 2030px) {
    .ai-support-banner {
        max-width: 50rem;
    }
}

.ai-support-banner .ai-btn {
    padding: 0.75rem 1.5rem !important;
}

.ai-support-banner h4 {
    line-height: unset;
}

.ai-support-banner .regular-size {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.125rem;
}

.ai-support-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.ai-support-sub {
    color: #f3f3f3;
    font-size: 1rem;
    margin: 0;
    font-weight: 300;
}

/* New Edits */
.special-section {
    position: relative;
}

.special-section::before {
    position: absolute;
    content: "";
    width: 110vw;
    height: 100%;
    background-image: url("../assets/images/btn\ blur.png");
    left: 41%;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (min-width: 1600px) {
    .special-section::before {
        left: 50%;
    }
}

/* Swiper */
.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next svg,
.swiper-button-prev svg {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 2.5rem;
    height: 2.5rem;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    opacity: .5;
    background-color: var(--gray-color) !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--primary-color) !important;
}


.arabic-version .swiper-control-container {
    flex-direction: row-reverse;
}

.swiper-control-container {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 99;
}

.swiper-button {
    width: 3.5rem;
    height: 3.5rem;
}

/* Swiper */
/* Modal */
button.btn-close i {
    font-size: 0.75rem !important;
}

button.btn-close {
    background-image: unset !important;
    opacity: 1;
}

.modal .modal-content {
    padding: 2.5rem !important;
}

/* Modal link */
.content-link {
    max-width: 44.625rem;
    inset-inline-end: 0.625rem;
    top: 0.625rem;
    height: 98vh;
    position: fixed;
    overflow-y: auto;
    z-index: 9999999;
    display: none;
}

.content-link-overlay {
    display: none;
}

.content-link:not(.open) {
    display: none !important;
}

.content-link-overlay.open {
    display: block;
}

.content-link-header h4 {
    max-width: 25rem;
}

.close-btn {
    width: 3.5rem;
    height: 3.5rem;
}

#ai-modal {
    z-index: 999999 !important;
}

.content-link-header h4 {
    max-width: 19.062rem;
}

.content-link-overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #18181899;
    z-index: 9999999;
    backdrop-filter: blur(0.0625rem);
}

.valid-feedback {
    line-height: 1rem;
}