.ajib-transfers-section {
    background-image: unset;
}

.credit-box-content h6 {
    font-size: 2rem !important;
}

.ai-support-banner {
    margin-top: 0 !important;
}

.credit-box.p-30 {
    padding: 1.875rem 1.1rem;
}